body {
    background-color: #1e2525;
}

h1, .name {
    color: #fff;
    font-family: "Helvetica";
}

h1 {
    font-size: 55px;
    text-shadow: 2px 2px 2px #444;
}

.name {
    font-size: 15px;
    font-family: "Helvetica";
    margin-top: -35px;
}

.video {
    display: flex;
    justify-content: center;
  }

.video-container {
    padding: 0 70px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 3fr));
    gap: 5.5rem;
    margin: 4rem 0;
}

.vid {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 2px gray;
    
}

h3 {
    font-size: 23px;
}

h3, .desc {
    font-family: "Helvetica";
    text-align: center;
}

.desc {
    padding: 0 6px 12px 6px;
    font-size: 14px;
}

.yt {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
